<!DOCTYPE html>
<html lang="en">
<head>
    <title>Card Identity Recognition System </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <style>
    .form{
          margin: auto;
          width: 50%;
          padding: 10px;
    }
    .contain{
        background-color:#e6e6e6;
        text-align: center;
        padding-top: 25px;
        padding-bottom: 20px;
        margin-bottom: 10px;
    }
    .copyright{
        text-align: center;
        margin-top: 15px;
        font-size: 15px;
        color: #737373;
    }
    .mybox{
        margin-left: 300px;
        margin-right: 300px;
    }
    .about{
        font-size: 30px;
        text-align: center;
        padding-bottom: 15px;
        color: #595959;
    }
    .placehol{
        font-size: 17px;
        text-align: center;
        margin-bottom: 30px;
    }
    </style>
</head>
<body>
    <div class="contain">
        <h1>Card Identity Recognition System</h1>
    </div>
    <div class="form">
        <!--<form action="/" method="POST" enctype="multipart/form-data">
            <input type="file" name="image" id="image">
            <br>
            <br>
            <input type="submit" value="submit">
        </form>-->
        <form action="/" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="image" class="form-label">Choose the image file</label>
                <input type="file" class="form-control" name="image" id="image" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">Larger files will take longer time to process.</div>
            </div>
            <button type="submit" class="btn btn-primary" value="submit">Submit</button>
        </form>
    </div>
    <div class="mybox">
        <div class="about"> About </div>
        <div class="placehol">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget vulputate ante. Ut aliquet nisl sed mauris varius commodo. Etiam ligula purus, varius eget erat sit amet, feugiat pretium felis. Suspendisse mattis gravida enim vel ullamcorper. Cras a ultrices mauris, ac egestas neque. Nunc at tortor ante. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque nec eros faucibus, ornare leo vel, viverra neque. Sed eu ornare dui. Fusce odio tortor, consectetur quis lobortis a, rhoncus quis nunc. Nunc maximus eros non turpis condimentum malesuada. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;

Nulla facilisi. Duis vehicula pharetra justo sed mattis. Proin congue turpis id sem blandit imperdiet. Proin risus nisl, malesuada a felis quis, egestas aliquet odio. Quisque sapien est, elementum id consequat id, ullamcorper id urna. Sed eget sodales lacus, eu bibendum elit. Integer a luctus leo, id gravida ipsum. Donec dapibus metus eros, quis ullamcorper risus rutrum vitae. Quisque risus nisi, molestie id turpis non, sagittis cursus nulla. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque dolor sem, posuere eget condimentum vitae, eleifend vel elit. Praesent sollicitudin odio id arcu lacinia condimentum.

Nunc lobortis sem nec suscipit pretium. Vestibulum vulputate tincidunt mollis. Pellentesque malesuada, tortor sed posuere suscipit, turpis eros interdum sem, quis pellentesque felis urna id odio. Fusce porttitor volutpat orci in ultrices. Fusce molestie lacinia efficitur. Nullam odio felis, vehicula eu dictum ac, pharetra eget turpis. Aenean id efficitur tellus. Etiam ut tincidunt justo. Praesent sit amet felis a magna pretium maximus. Cras in consequat velit.

Sed euismod mauris eleifend, faucibus urna ut, dictum enim. Proin in ipsum tellus. Sed mattis arcu semper, efficitur justo sit amet, pharetra lacus. Nam maximus justo sem, et pretium lorem bibendum ut. Nam nec nisl erat. Fusce consequat sodales accumsan. Duis vehicula fermentum nunc, a ultricies risus sagittis quis. Duis auctor ornare euismod. Sed iaculis auctor sem vitae bibendum.

Nulla dapibus pulvinar erat, non posuere tellus tempus vel. Proin et leo vel justo rutrum tempor. Ut auctor felis magna, in consectetur dolor maximus nec. Donec vel lorem vulputate, porttitor felis at, rhoncus massa. Phasellus sit amet augue eu neque varius ultrices. Pellentesque rutrum, sapien non imperdiet pellentesque, magna felis malesuada justo, in facilisis tortor risus sed sapien. Aliquam lobortis est nec placerat molestie. Cras suscipit eget turpis ac sagittis. Nullam quam purus, luctus in nunc id, consectetur gravida sem. Cras eget velit placerat, condimentum ex eget, tempor nibh. Donec non ante lacus.
        </div>
    </div>
    <div class="copyright">
        Created by Yash Kulkarni and Sudhanshu Chauhan.
    </div>
</body>
</html>